# Placeholder for Python dependencies
# (To be filled in later) 
Flask>=2.0
gunicorn>=20.0
google-cloud-pubsub>=2.5
google-cloud-secret-manager>=2.5
# Cloud SQL Connector and DB Driver
google-cloud-sql-connector[pg8000]>=1.0
SQLAlchemy>=1.4 